<!DOCTYPE html>
<html>
{% load compress %}
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Tests</title>
    {% compress css %}
        <link href="{% static "markup/css/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "markup/css/bootstrap-theme.css" %}" rel="stylesheet">
        <link href="{% static "markup/css/grid.css" %}" rel="stylesheet">
    {% endcompress %}
</head>
<body class="page{% block page_class %}{% endblock %}">
    {% block page_body %}{% endblock %}
    {% compress js %}
    {% endcompress %}
    {% block page_js %}{% endblock %}
</body>
</html>